/* Feel free to change any of this - it's just here to get you started. */

body {
  font-family: system-ui, sans-serif;
  max-width: 40rem;
  margin: 2rem auto;
  padding: 0 1rem;
  line-height: 1.5;
}

h2 {
  color: #6a2be2;
}
